<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>Spring Security Demo Project Login Page</h1>
    <p>USER 角色用户： user / 123456</p>
    <p>ADMIN角色用户: admin / 123456</p>
    <p th:if="${loginError}" class="error">账号或密码错误</p>
    <form th:action="@{/login}" method="post">
        <label for="username">账号</label>:
        <input type="text" name="username" id="username" autofocus="autofocus"><br>
        <label for="password">密码</label>:
        <input type="password" name="password" id="password"><br>
        <input type="submit" name="登录">
    </form>
    <p>
        <a href="/index" th:href="@{/index}">返回首页</a>
    </p>
</body>
</html>